/*---- the main ----*/


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 50px;
}

h1 {
	font-family: 'Indie Flower', cursive;
}

.btn__list {
	text-align: center;
}

.btn__item {
	background: none;
	padding: 10px 30px;
	font-size: 20px;
	border: solid 1px black;
	border-radius: 10px;
	position: relative;
	margin: 50px 10px;
	cursor: pointer;
	font-family: 'Indie Flower', cursive;
	font-weight: 700;
	overflow: hidden;
}

.btn__one {
	position: relative;
}

.btn__one::before {
	content: "";
	background: blue;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
}

.btn__one:hover::before {
	left: 0;
	transition: 1s;
	z-index: -1;
}

.btn__one:hover {
	color: white;
	transition: 1s;
}

.btn__two {
	position: relative;
}

.btn__two::before {
	content: "";
	background: blue;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	left: 0;
}

.btn__two:hover::before {
	top: 0;
	transition: 1s;
	z-index: -1;
}

.btn__two:hover {
	color: white;
	transition: 1s;
}

.btn__three:hover {
	color: white;
	transition: 1s;
}

.btn__three::before {
	content: "";
	background: blue;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0;
}

.btn__three:hover::before {
	top: 0;
	transition: 1s;
	z-index: -1;
}

.btn__three:hover {
	color: white;
	transition: 1s;
}

.btn__four {
	position: relative;
}

.btn__four::before {
	content: "Hi bro";
	color: white;
	padding: 10px 0px;
	background: red;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
}

.btn__four:hover::before {
	left: 0;
	transition: 1s;
}

.btn__five:hover {
	background-color: red;
	transition: 1s;
	color: white;
	font-size: 23px;
}

.btn__six {
	position: relative;
}

.btn__six::before {
	content: "";
	background: blue;
	width: 120%;
	height: 100%;
	position: absolute;
	top: 100%;
	left: -100%;
	border-radius: 0 50px 0 0;
}

.btn__six:hover::before {
	left: 0;
	transition: 1s;
	z-index: -1;
	top: 0;
}

.btn__six:hover {
	color: white;
	transition: 1s;
}

.btn__seven {
	position: relative;
}

.btn__seven::before {
	content: "";
	background: black;
	width: 115%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -115%;
	border-radius: 10px 25px 25px 10px;
}

.btn__seven:hover::before {
	left: 0;
	transition: 1s;
	z-index: -1;
}

.btn__seven:hover {
	transition: 1s;
	color: white;
}

.btn__eight {
	position: relative;
}

.btn__eight::before {
	content: "";
	background: black;
	width: 100%;
	height: 200%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: -1;
	border-radius: 50px 50px 0 0;
}

.btn__eight:hover::before {
	top: -90%;
	transition: 1s;
}

.btn__eight:hover {
	transition: 1s;
	color: white;
}

@keyframes bouncing {
	0% { 
		bottom: 0; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	}
	100% { 
		bottom: 50px; box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1); 
	}
}

.btn__nine {
	animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite  alternate both;
}

.btn__nine:hover {
	animation: none;
	background-color: black;
	color: white;
}

.btn__ten {
	position: relative;
	border: none;
}

.btn__ten:hover {
	transition: 3s;
	background: #2196f3;
	color: white;
	border: solid 1px #2196f3;
}

.btn__ten::before {
	content: "";
	background: linear-gradient(-100deg, transparent, #2196f3);
	width: 100%;
	height: 100%;
	position: absolute;
	top: -95%;
	left: 100%;
}

.btn__ten::after {
	content: "";
	background: linear-gradient(-320deg, transparent, #2196f3);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 95%;
	left: -100%;
}

@keyframes btn__border-one {
	0%{
		left: -95%;
	}
	100%{
		left: 90%;
	}
}

.btn__ten:hover::after {
	animation: btn__border-one 2s infinite  alternate both;
}

@keyframes btn__border-two {
	0%{
		left: 95%;
	}
	100%{
		left: -90%;
	}
}

.btn__ten:hover::before {
	animation: btn__border-two 2s infinite  alternate both;
}

.btn__eleven {
	position: relative;
	border: solid 2px #ff7675;
}

.btn__eleven::before {
	content: "";
	background: #ff7675;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -90%;
	transform: rotate(50deg);
	opacity: 0.8;
}

.btn__eleven:hover::before{
	left: 100%;
	transition: 2s;
}

.btn__eleven:hover {
	color: #ff7675;
	transition: 2s;
}

.btn__thirteen {
	position: relative;
	border: none;
	color: #ff00d0;
	border-radius: none;
}

.btn__thirteen:hover {
	transition: 1s;
	transition-delay: 1s;
	color: white;
	background: #ff00d0;
	box-shadow: 0 0 10px #ff00d0, 0 0 40px #ff00d0, 0 0 80px #ff00d0;
}

.btn__thirteen::before {
	content: "";
	background: linear-gradient(-100deg, transparent, #ff00d0);
	height: 100%;
	width: 100%;
	position: absolute;
	left: 100%;
	top: 90%;
}

.btn__thirteen::after {
	content: "";
	background: linear-gradient(-320deg, transparent, #ff00d0);
	height: 100%;
	width: 100%;
	position: absolute;
	left: -100%;
	top: -90%;
}

.line__one {
	position: absolute;
	background: linear-gradient(-300deg, transparent, #ff00d0);
	height: 100%;
	width: 100%;
	left: -65%;
	top: 175%;
	transform: rotate(-90deg);
}

.line__two {
	position: absolute;
	background: linear-gradient(-280deg, transparent, #ff00d0);
	height: 100%;
	width: 100%;
	left: 65%;
	top: -180%;
	transform: rotate(90deg);
}


.btn__thirteen:hover::after {
	transition: 0.5s;
	left: 100%;
}

.btn__thirteen:hover .line__two {
	top: 150%;
	transition: 0.5s;
	transition-delay: 0.5s; 	
}

.btn__thirteen:hover::before {
	left: -100%;
	transition: 0.5s;
}

.btn__thirteen:hover .line__one {
	top: -100%;
	transition: 0.5s;
	transition-delay: 0.5s;
}